# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log
media/uploads/
staticfiles/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Forensic disk images (too large for git)
*.001
*.e01
*.dd
*.img
*.raw
*.vmdk
